.cart-header h2,
.no-items,
.cart-items,
.cart-total {
  cursor: default;
}
.cart-container {
  position: fixed;
  right: 0;
  width: 35%;
  height: 100dvh;
  overflow: hidden;
  transition: all 0.4s ease;
  overflow-x: hidden;
  z-index: 10;
  transform: translateX(0%);
  color: var(--background);
  background: rgba(233, 128, 116, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(233, 128, 116, 1);
}
.cart-container.closed {
  overflow: hidden;
  transform: translateX(100%);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  height: 10vh;
}
.cart-header h2 {
  text-transform: uppercase;
}
.cart-header button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: var(--background);
}

.no-items {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
.cart-items-list {
  overflow-y: scroll;
  height: 75vh;
}

.cart-item {
  background-color: var(--primary-light);
  color: var(--background);
  font-size: 1.1rem;
  text-align: center;
  font-weight: 300;
  margin: 5px 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.25fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.cart-item img {
  padding: 10px;
  grid-area: 1 / 1 / 2 / 2;
  width: 120px;
  height: 120px;
  background: var(--background-dark);
}
#cart-item-name {
  grid-area: 1 / 2 / 2 / 3;
}
.cart-quantity {
  grid-area: 1 / 3 / 2 / 4;
  flex-direction: column;
}
.cart-quantity button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: none;
  border: none;
}
#cart-item-price {
  grid-area: 1 / 4 / 2 / 5;
}
.cart-item img,
#cart-item-name,
.cart-quantity,
#cart-item-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-total {
  border-top: 5px dotted var(--background);
  width: 100%;
  height: 15vh;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

@media only screen and (max-width: 768px) {
  .cart-container {
    min-width: 350px;
  }
  .cart-item img {
    width: 100px;
    height: 100px;
  }
  .cart-item {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 425px) {
  .cart-header h2 {
    font-size: 1.3rem;
  }
  .cart-container {
    min-width: 0px;
    width: 100%;
  }
  .cart-total h2 {
    font-size: 1.1rem;
  }
}
