.section-two-container {
  width: 85vw;
  margin: 0px auto;
}
.section-two-container h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.carousel {
  display: block;
  overflow: scroll;
  border-left: 0.5px solid var(--dark-grey);
  border-right: 0.5px solid var(--dark-grey);
}

.carousel-row {
  display: inline-block;
  white-space: nowrap;
}

.item {
  cursor: pointer;
  margin: 0px 5px;
  border: 3px solid var(--dark-grey);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 270px;
}
.item:nth-child(1) {
  margin: 0px 5px 0px 0px;
}
.item:nth-child(8) {
  margin: 0px 0px 0px 5px;
}
.item img {
  margin: 15px;
  width: 185px;
  height: 175px;
  user-select: none;
}
.item h4 {
  width: 100%;
  text-align: center;
  margin: 5px 0px;
}
.item p {
  width: 100%;
  text-align: center;
}
