.section-two-container {
  width: 85vw;
  margin: 0px auto;
}
.section-two-container h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.carousel {
  display: block;
  overflow: hidden;
}

.carousel--track {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: auto-scroll 60s infinite linear;
}

.carousel-row {
  display: inline-block;
  white-space: nowrap;
}

.item {
  cursor: pointer;
  margin: 0px 5px;
  border: 3px solid var(--dark-grey);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 280px;
  transition: all 0.2s ease;
}
.item:hover {
  border: 3px solid black;
}

.item img {
  margin: 15px;
  width: 175px;
  height: 155px;
  user-select: none;
}
.item h4 {
  width: 100%;
  text-align: center;
  margin: 8px 0px;
}
.item p {
  width: 100%;
  text-align: center;
}

@keyframes auto-scroll {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

@media only screen and (max-width:425px){
  .section-two-container h2 {
    text-align: center;
    font-size: 2rem;
  }
}