nav {
  height: 10dvh;
  display: flex;
  align-items: center;
}

/*NAV LOGO*/
.nav-logo-container {
  width: fit-content;
  margin-left: 5vw;
}
.nav-logo-container a {
  text-decoration: none;
}
.nav-logo-container h1 {
  color: var(--dark-grey);
  text-transform: uppercase;
  text-shadow: 1px 1px 2px 1px;
  font-size: 2rem;
}
.nav-logo-container span {
  color: var(--primary);
}

/*NAV LINKS*/
.nav-links {
  margin-left: auto;
  margin-right: 5vw;
}
.nav-links a {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
  margin: 0px 10px 0px 0px;
}
.nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: var(--dark-grey);
}

.nav-links button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1rem;
  margin: 0px 0px 0px 10px;
}

.overlay {
  border: 1px solid black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  transition: opacity 0.3s ease, visiblity 0.3s ease;
}
.overlay.open {
  background-color: rgba(0, 0, 0, 0.15);
  opacity: 1;
  visibility: visible;
}

.cart-overlay {
  position: relative;
  bottom: 32px;
  left: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  font-size: 0.6rem;
  color: white;
  background-color: var(--primary);
}


@media only screen and (max-width: 425px) {
  .nav-links a {
    display: none;
  }
  .nav-logo-container {
    margin: 0px auto;
  }
  .nav-links {
    position: absolute;
    right: 0;
  }
}
